<label for="datasetFile">Upload</label>
<div id="dropArea" class="drop-area mb-4 form-control">
    <p>Drag n drop your .zip file or click here</p>
    <input type="file" class="form-control-file" id="datasetFile" name="datasetFile" accept=".zip" required hidden>
</div>