<!DOCTYPE html>
<html lang="en">
	<%- include('shared/head'); %>
	<body>
		<%- include('shared/navbar'); %>
		<main class="container">
			<div class="mainheading text-center mb-3">
				<h1 class="sitetitle mb-3">You are not a creator yet!</h1>
				<h5 class="lead">Change your status in your profile page</h5>
			</div>
			<div class="divider"></div>
			
			<section class="d-flex justify-content-center align-items-start" style="height: 60vh;">
				<div class="settings-notice text-center mt-5">
					<i class="fa-solid fa-rectangle-xmark" style="font-size: 100px; color: #ff0000"></i>
					<br>
					<a href="profile" style="font-size: 24px; color: #333;">Go to profile</a>
				</div>
			</section>
		</main>
		
		<%- include('shared/footer'); %>
		<%- include('shared/script'); %>
	</body>
</html>
